<html xmlns:th="http://www.thymeleaf.org">
<meta charset=utf-8>
<meta name=viewport
	content="initial-scale=1, minimum-scale=1, width=device-width">
<title th:text="${errorHeader}"></title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

<body>

<div style="margin-left: 15%; margin-top: 15%;">
	<b th:text="${errorHeader}"></b>
	<br>
	<i>That's an error.</i>
	<p th:text="${errorMessage}">
	<small>That's all we know.</small>
	
</div>

</body>