<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<style>
.scrollable-element {
	scrollbar-color: dark;
}

.textOutput {
	display: block;
	width: 80%;
	overflow: auto;
	background-color: #FFF;
	color: #222;
	font-weight: normal;
	font-size: 24px;
	resize: none;
	line-height: 40px;
	padding-left: 4%;
	padding-right: 4%;
	padding-top: 2%;
	padding-bottom: 2%;
	border-bottom-left-radius: 6px;
	border-top-left-radius: 6px;
	-webkit-box-shadow: 0px 2px 14px #000;
	box-shadow: 0px 2px 14px #000;
	border-top: 1px solid #FFF;
	border-bottom: 1px solid #FFF;
	margin-bottom: 20px;
	margin-top: 20px;
}

.textInput {
	display: block;
	width: 80%;
	overflow: auto;
	background-color: #FFF;
	color: #222;
	font-weight: normal;
	font-size: 24px;
	resize: none;
	padding-left: 4%;
	padding-right: 4%;
	padding-top: 2%;
	padding-bottom: 2%;
	padding-bottom: 34px;
	border-bottom-left-radius: 6px;
	border-top-left-radius: 6px;
	-webkit-box-shadow: 0px 2px 14px #000;
	box-shadow: 0px 2px 14px #000;
	border-top: 1px solid #FFF;
	border-bottom: 1px solid #FFF;
	box-shadow: 0px 2px 14px #000;
	border-top: 1px solid #FFF;
	border-bottom: 1px solid #FFF;
	margin-bottom: 20px;
	margin-top: 20px;
}
</style>

<title>Coding Task</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width">


<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body background="/images/background"
	style="background-size: cover;" marginheight="1%">

	<div align="center">

		<nav class="navbar navbar-inverse" style="margin: 0%; padding: 2px">
			<ul class="nav navbar-nav">
				<li>
				
					<button
						style="size: 5px; background-color: inherit; border-color: inherit;"
						type="button" class="btn btn-info btn-lg" data-toggle="modal"
						data-target="#thirdModal">What is Encryption</button>
					<button
						style="size: 5px; background-color: inherit; border-color: inherit;"
						type="button" class="btn btn-info btn-lg" data-toggle="modal"
						data-target="#firstModal">More About Caesar Cipher</button>
					<button
						style="size: 5px; background-color: inherit; border-color: inherit;"
						type="button" class="btn btn-info btn-lg" data-toggle="modal"
						data-target="#secondModal">More About Julius Caesar</button>
						
				</li>
			</ul>
		</nav>

		<div
			style="width: 100%; background-color: inherit; border-style: ridge; border-color: #222;"
			align="center">

			<div id="myCarousel" class="carousel slide" data-ride="carousel">
				<!-- Indicators -->
				<ol class="carousel-indicators">
					<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
					<li data-target="#myCarousel" data-slide-to="1"></li>
					<li data-target="#myCarousel" data-slide-to="2"></li>
					<li data-target="#myCarousel" data-slide-to="3"></li>
				</ol>

				<!-- Wrapper for slides -->
				<div class="carousel-inner" style="width: 500px;">
					<div class="item active">
						<img							
							th:src="@{/images/cipher-disk}"
							alt="Chania">
						<div class="carousel-caption">

							<kbd th:text="${caesarDiskCaption}"></kbd>
						</div>
					</div>

					<div class="item">
						<img height="500"
							th:src="@{/images/julius-caesar}"
							alt="Chicago">
						<div class="carousel-caption">
							<kbd th:text="${juliusCaesarCaption}"></kbd>
						</div>
					</div>

					<div class="item">
						<img height="500"
							th:src="@{/images/hand-made-caesar-cipher}"
							alt="New York">
						<div class="carousel-caption">

							<kbd th:text="${handMadeCipherCaption}"></kbd>

						</div>
					</div>

					<div class="item">
						<img height="500"
							th:src="@{/images/confederate-cipher-disk-png}"
							alt="New York">
						<div class="carousel-caption">

							<kbd th:text="${confederateCipherCaption}"></kbd>
						</div>
					</div>
				</div>

				<!-- Left and right controls -->
				<a class="left carousel-control" href="#myCarousel"
					data-slide="prev"> <span
					class="glyphicon glyphicon-chevron-left"></span> <span
					class="sr-only">Previous</span>
				</a> <a class="right carousel-control" href="#myCarousel"
					data-slide="next"> <span
					class="glyphicon glyphicon-chevron-right"></span> <span
					class="sr-only">Next</span>
				</a>
			</div>

		</div>
	</div>
	<div id="firstModal" class="modal fade" role="dialog">
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title" th:text=${caesarCipherWikiHeader}></h4>
				</div>
				<div class="modal-body">
					<p th:text="${caesarCipherWiki}"/>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>

		</div>
	</div>
	
	<div id="thirdModal" class="modal fade" role="dialog">
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title" th:text="${encryptionWikiHeader}"></h4>
				</div>
				<div class="modal-body">
					<p th:text=${encryptionWiki}/>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>

		</div>
	</div>

	<div id="secondModal" class="modal fade" role="dialog">
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title" th:text=${juliusCaesarWikiHeader}></h4>
				</div>
				<div class="modal-body">
					<p th:text=${juliusCaesarWiki}/>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>

		</div>
	</div>


	<div id="first-layer" class="container" align="center"
		style="margin-bottom: 2%; border-bottom-left-radius: 2px; border-bottom-right-radius: 2px; border-top-left-radius: 2px; border-top-right-radius: 2px;">
		<h2 th:text="${encryptSectionHeader}"></h2>
		<h4 th:text="${encryptSectionSubHeader}"></h4>

		<div id="wrapper">

			<div>

				<textarea id="txt-area" class="textInput" required="required"></textarea>
				
				<p>Shift values higher than 25 will result in repeating the alphabet. e.g. (27 = 2, 133 = 3, 1252 = 4) and so on...</p>
				
				<div class="btn-group btn-group-justified" style="width: 70%;">
					<div class="btn-group">
						<input style="background-color: #222222; border-color: #a3a9a7;" id="input-offset"  class="btn btn-primary" placeholder="Shift" min="0" checked="checked"
						required="required" oninput="checker()">
					</div>

					<div class="btn-group">
						<button style="background-color: #222222; border-color: #a3a9a7;" id="encrypt-btn" type="button" class="btn btn-primary">Encrypt</button>
					</div>

					<div class="btn-group">
						<button style="background-color: #222222; border-color: #a3a9a7;" id="decrypt-btn" type="button" class="btn btn-primary">Decrypt</button>
					</div>


				</div>

				<textarea id="textOutput" readonly="readonly" class="textOutput"></textarea>

			</div>


		</div>


	</div>



	<script>
	
	function checker(){
		var inputOffSet = document.getElementById("input-offset").value;
		
		var pattern = /\D/g;
		
		inputOffSet = inputOffSet.replace(pattern, '');
		
		
		document.getElementById("input-offset").value = inputOffSet;
		
	}
	
		$(function() {
			
			
			$("#decrypt-btn").click(function(){
				var scriptText = document.getElementById("txt-area").value.trim();
				
				var selectedOffSet = document.getElementById("input-offset").value;
				
				var pattern = /\s/g;
				
				selectedOffSet = selectedOffSet.replace(pattern, '');
				
				selectedOffSet = parseInt(selectedOffSet);
				
				
				if(isNaN(selectedOffSet)){
					document.getElementById("textOutput").value = "";
					return null;
				}
				
				if(selectedOffSet < 0){
					document.getElementById("textOutput").value = "";
					return null;
				}
				
				if(scriptText.length == 0){
					document.getElementById("textOutput").value = "";
					return null;
				}
				
				let model = {
					script: scriptText,
					offset: -selectedOffSet
				};
				
				var json = JSON.stringify(model);
				
				$.ajax({
				       type: "POST",
				       url: "/encrypt",
				       data: json,
				       contentType:"application/json",
				       success: function (response) {
				    	   document.getElementById("textOutput").value = response;
				       },

				       error: function(error){
				    	   document.getElementById("textOutput").value = "";  
				       }
				   });			
				
			});
			
			$("#encrypt-btn").click(function() {

				var scriptText = document.getElementById("txt-area").value.trim();
				
				var selectedOffSet = document.getElementById("input-offset").value;
				
				var pattern = /\s/g;
				
				selectedOffSet = selectedOffSet.replace(pattern, '');
				
				selectedOffSet = parseInt(selectedOffSet);				
				
				if(isNaN(selectedOffSet)){
					document.getElementById("textOutput").value = "";
					return null;
				}
				
				if(selectedOffSet < 0) {
					document.getElementById("textOutput").value = "";
					return null;
				}
				
				if(scriptText.length == 0){
					document.getElementById("textOutput").value = "";
				return null;
				}
				
				
				let model = {
					script : scriptText,
					offset : selectedOffSet
				};

				var json = JSON.stringify(model);

				$.ajax({
					type : "POST",
					url : "/encrypt",
					data : json,
					contentType : "application/json; charset=utf-8",
					success : function(response) {

						document.getElementById("textOutput").value = response;

					},
					error : function(error) {
						document.getElementById("textOutput").value = "";
					}
				});
			});

		});
	</script>
	</body>
</html>
